# This first line allow the rename of URL -- The porpose of the file
RewriteEngine On

# This 2 lines respectively deny the permission to access to files and depository directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# The last line is a statement who's say all the router (/path) will be rewritten
RewriteRule ^(.*)$ index.php?page=$1